
#include "..\\code\\mine2.h"

ICON ID_RESOURCE bitmap\\mine2.ico

POINTER ID_POINTER_1         bitmap\\mine1.ptr
POINTER ID_POINTER_2         bitmap\\mine2.ptr
POINTER ID_POINTER_3         bitmap\\mine3.ptr
POINTER ID_POINTER_4         bitmap\\mine4.ptr
POINTER ID_PTR_BEE_1         bitmap\\bee1.ptr
POINTER ID_PTR_BEE_2         bitmap\\bee2.ptr

BITMAP  ID_BMP_FAME          bitmap\\fame.bmp
BITMAP  ID_BMP_ABOUT         bitmap\\about.bmp
BITMAP  ID_BMP_7SEG          bitmap\\digits2.bmp
BITMAP  ID_BMP_FIELD         bitmap\\field.bmp
BITMAP  ID_BMP_FIELD_BIG     bitmap\\fieldbig.bmp
BITMAP  ID_BMP_GRID          bitmap\\grid.bmp

BITMAP  ID_BMP_BUTTON_NORMAL bitmap\\button1.bmp
BITMAP  ID_BMP_BUTTON_O      bitmap\\button2.bmp
BITMAP  ID_BMP_BUTTON_FAIL   bitmap\\button3.bmp
BITMAP  ID_BMP_BUTTON_OK     bitmap\\button4.bmp
BITMAP  ID_BMP_BUTTON_HINT   bitmap\\button5.bmp

BITMAP  100                  bitmap\\hof.bmp
BITMAP  101                  bitmap\\ptr1.bmp
BITMAP  102                  bitmap\\ptr2.bmp
BITMAP  103                  bitmap\\ptr3.bmp
BITMAP  104                  bitmap\\ptr4.bmp

ACCELTABLE ID_RESOURCE {
   VK_F2,  ID_KEY_NEW,       VIRTUALKEY
   VK_F3,  ID_KEY_EXIT,      VIRTUALKEY
   VK_F4,  ID_KEY_STATISTIC, VIRTUALKEY
   VK_ESC, ID_KEY_ESCAPE,    VIRTUALKEY
}

MENU ID_RESOURCE {
    SUBMENU     "~Game",        ID_MENU_GAME {
        MENUITEM    "~New\tF2",         ID_MENU_NEWGAME,      MIS_TEXT
        MENUITEM    SEPARATOR
        MENUITEM    "N~ovice",          ID_MENU_NOVICE,       MIS_TEXT
        MENUITEM    "A~dvanced",        ID_MENU_ADVANCED,     MIS_TEXT
        MENUITEM    "~Professional",    ID_MENU_PROFESSIONAL, MIS_TEXT
        MENUITEM    "~User defined ...",ID_MENU_USERDLG,      MIS_TEXT
        MENUITEM    SEPARATOR
        SUBMENU     "Poin~ter",  ID_MENU_POINTER {
            MENUITEM    "#101",         ID_POINTER_1, MIS_BITMAP
            MENUITEM    SEPARATOR
            MENUITEM    "#102",         ID_POINTER_2, MIS_BITMAP
            MENUITEM    "#103",         ID_POINTER_3, MIS_BITMAP | MIS_BREAKSEPARATOR
            MENUITEM    SEPARATOR
            MENUITEM    "#104",         ID_POINTER_4, MIS_BITMAP
        }
        SUBMENU     "~Special", ID_MENU_SPECIAL {
            MENUITEM    "S~tatistic ...\tF4", ID_MENU_STATISTIC, MIS_TEXT
            MENUITEM    SEPARATOR
            MENUITEM    "~Use  [?]",    ID_MENU_SPECIAL_QUE, MIS_TEXT
            MENUITEM    "~Safety",      ID_MENU_SPECIAL_SAV, MIS_TEXT
            MENUITEM    "~Big Blocks",  ID_MENU_SPECIAL_BIG, MIS_TEXT
        }
        MENUITEM    SEPARATOR
        MENUITEM    "#100",     ID_MENU_HALL_OF_FAME, MIS_BITMAP
        MENUITEM    SEPARATOR
        MENUITEM    "E~xit\tF3",        ID_MENU_EXIT,         MIS_TEXT
    }
    SUBMENU     "~Help",        ID_MENU_HELP {
        MENUITEM    "Help ~index",      ID_MENU_HELPINDEX,    MIS_TEXT,   MIA_DISABLED
        MENUITEM    "~General help",    ID_MENU_HELPGENERAL,  MIS_TEXT,   MIA_DISABLED
        MENUITEM    "~Using help",      ID_MENU_HELPUSING,    MIS_TEXT,   MIA_DISABLED
        MENUITEM    "~Keys help",       ID_MENU_HELPKEYS,     MIS_TEXT,   MIA_DISABLED
        MENUITEM    SEPARATOR
        MENUITEM    "~About ...",       ID_MENU_ABOUT,        MIS_TEXT
    }
}

HELPTABLE ID_HELP_TABLE {
    HELPITEM ID_RESOURCE,    ID_SUBTABLE_MENU,    HELP_PAGE_GENERAL
    HELPITEM ID_DLG_ABOUT,   ID_SUBTABLE_ABOUT,   HELP_PAGE_ABOUT
    HELPITEM ID_DLG_USERDEF, ID_SUBTABLE_USERDEF, HELP_PAGE_USERDEF
    HELPITEM ID_DLG_HOF,     ID_SUBTABLE_HOF,     HELP_PAGE_HOF
    HELPITEM ID_DLG_STAT,    ID_SUBTABLE_STAT,    HELP_PAGE_STATISTIC
}

HELPSUBTABLE ID_SUBTABLE_MENU {
    HELPSUBITEM ID_MENU_GAME,           HELP_PAGE_GENERAL
    HELPSUBITEM ID_MENU_NEWGAME,        HELP_PAGE_NEW
    HELPSUBITEM ID_MENU_NOVICE,         HELP_PAGE_LEVEL
    HELPSUBITEM ID_MENU_ADVANCED,       HELP_PAGE_LEVEL
    HELPSUBITEM ID_MENU_PROFESSIONAL,   HELP_PAGE_LEVEL
    HELPSUBITEM ID_MENU_USERDLG,        HELP_PAGE_USERDEF
    HELPSUBITEM ID_MENU_POINTER,        HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_1,           HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_2,           HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_3,           HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_4,           HELP_PAGE_POINTER
    HELPSUBITEM ID_MENU_SPECIAL,        HELP_PAGE_SPECIAL
    HELPSUBITEM ID_MENU_STATISTIC,      HELP_PAGE_STATISTIC
    HELPSUBITEM ID_MENU_SPECIAL_QUE,    HELP_PAGE_SPECIAL
    HELPSUBITEM ID_MENU_SPECIAL_SAV,    HELP_PAGE_SPECIAL
    HELPSUBITEM ID_MENU_SPECIAL_BIG,    HELP_PAGE_SPECIAL
    HELPSUBITEM ID_MENU_HALL_OF_FAME,   HELP_PAGE_HOF
    HELPSUBITEM ID_MENU_EXIT,           HELP_PAGE_EXIT
    HELPSUBITEM ID_MENU_HELP,           HELP_PAGE_GENERAL
    HELPSUBITEM ID_MENU_HELPINDEX,      64045
    HELPSUBITEM ID_MENU_HELPGENERAL,    64045
    HELPSUBITEM ID_MENU_HELPUSING,      64045
    HELPSUBITEM ID_MENU_HELPKEYS,       64045
    HELPSUBITEM ID_MENU_ABOUT,          HELP_PAGE_ABOUT
}

HELPSUBTABLE ID_SUBTABLE_ABOUT {
}

HELPSUBTABLE ID_SUBTABLE_USERDEF {
}

HELPSUBTABLE ID_SUBTABLE_HOF {
}

HELPSUBTABLE ID_SUBTABLE_STAT {
}

rcinclude resource\\mine2.dlg
