
#include "mine2.h"

ICON     ID_RESOURCE          images\mine2.ico

POINTER  ID_POINTER_1         images\mine1.ptr
POINTER  ID_POINTER_2         images\mine2.ptr
POINTER  ID_POINTER_3         images\mine3.ptr
POINTER  ID_POINTER_4         images\mine4.ptr
POINTER  ID_PTR_BEE_1         images\bee1.ptr
POINTER  ID_PTR_BEE_2         images\bee2.ptr

BITMAP   ID_BMP_FAME          images\fame.bmp
BITMAP   ID_BMP_ABOUT         images\about.bmp
BITMAP   ID_BMP_7SEG          images\digits2.bmp
BITMAP   ID_BMP_FIELD         images\field.bmp
BITMAP   ID_BMP_FIELD_BIG     images\fieldbig.bmp
BITMAP   ID_BMP_GRID          images\grid.bmp

BITMAP   ID_BMP_BUTTON_NORMAL images\button1.bmp
BITMAP   ID_BMP_BUTTON_O      images\button2.bmp
BITMAP   ID_BMP_BUTTON_FAIL   images\button3.bmp
BITMAP   ID_BMP_BUTTON_OK     images\button4.bmp
BITMAP   ID_BMP_BUTTON_HINT   images\button5.bmp

BITMAP   ID_BMP_HOF           images\hof.bmp
BITMAP   ID_BMP_PTR1          images\ptr1.bmp
BITMAP   ID_BMP_PTR2          images\ptr2.bmp
BITMAP   ID_BMP_PTR3          images\ptr3.bmp
BITMAP   ID_BMP_PTR4          images\ptr4.bmp

ACCELTABLE ID_RESOURCE {
    VK_F2,  IDM_NEW,       VIRTUALKEY
    VK_F4,  IDM_STATISTIC, VIRTUALKEY
    VK_ESC, IDM_QUIT,      VIRTUALKEY
    "n",    IDM_NEW,       CONTROL
    "N",    IDM_NEW,       CONTROL
    "q",    IDM_QUIT,      CONTROL
    "Q",    IDM_QUIT,      CONTROL
    "p",    IDM_PAUSE,     CONTROL
    "P",    IDM_PAUSE,     CONTROL
    "x",    IDM_EXIT,      CONTROL
    "X",    IDM_EXIT,      CONTROL
    "s",    IDM_STATISTIC, CONTROL
    "S",    IDM_STATISTIC, CONTROL
    "b",    IDM_BACKGRND,  CONTROL
    "B",    IDM_BACKGRND,  CONTROL
}

MENU ID_RESOURCE {
    SUBMENU "~Game", IDM_SUBMENU_GAME {
        MENUITEM "~New Game\tCtrl+N",     IDM_NEW,   MIS_TEXT
        MENUITEM "~Pause Game\tCtrl+P",   IDM_PAUSE, MIS_TEXT
        MENUITEM "~Quit Game\tCtrl+X",    IDM_QUIT,  MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "E~xit\tCtrl+Q",         IDM_EXIT,  MIS_TEXT
    }
    SUBMENU "~Options", IDM_SUBMENU_OPTIONS {
        SUBMENU "~Level", IDM_SUBMENU_LEVEL {
            MENUITEM "~Novice",           IDM_NOVICE,       MIS_TEXT
            MENUITEM "~Advanced",         IDM_ADVANCED,     MIS_TEXT
            MENUITEM "~Professional",     IDM_PROFESSIONAL, MIS_TEXT
            MENUITEM "~User defined ...", IDM_USERDLG,      MIS_TEXT
        }
        SUBMENU "~Pointer", IDM_SUBMENU_POINTER {
            MENUITEM "#5021",             ID_POINTER_1, MIS_BITMAP
            MENUITEM SEPARATOR
            MENUITEM "#5022",             ID_POINTER_2, MIS_BITMAP
            MENUITEM "#5023",             ID_POINTER_3, MIS_BITMAP | MIS_BREAKSEPARATOR
            MENUITEM SEPARATOR
            MENUITEM "#5024",             ID_POINTER_4, MIS_BITMAP
        }
        SUBMENU "~Special", IDM_SUBMENU_SPECIAL {
            MENUITEM "S~tatistics ...\tF4", IDM_STATISTIC,   MIS_TEXT
            MENUITEM "#5011",               IDM_HOF,         MIS_BITMAP
            MENUITEM SEPARATOR
            MENUITEM "~Use  [?]",           IDM_SPECIAL_QUE, MIS_TEXT
            MENUITEM "~Safety",             IDM_SPECIAL_SAV, MIS_TEXT
            MENUITEM "~Big Blocks",         IDM_SPECIAL_BIG, MIS_TEXT
        }
        SUBMENU "~Language", IDM_SUBMENU_LANG {
            MENUITEM "~English",            IDM_LANG_EN, MIS_TEXT
            MENUITEM "E~spanol",            IDM_LANG_ES, MIS_TEXT
            MENUITEM "~Nederlands",         IDM_LANG_NL, MIS_TEXT
            MENUITEM "~Deutsch",            IDM_LANG_DE, MIS_TEXT
            MENUITEM "~Francais",           IDM_LANG_FR, MIS_TEXT
            MENUITEM "~Italiano",           IDM_LANG_IT, MIS_TEXT
        }
        MENUITEM SEPARATOR
        MENUITEM "~Background Run\tCtrl+B", IDM_BACKGRND,   MIS_TEXT
        MENUITEM "~Save settings on exit",  IDM_SAVEONEXIT, MIS_TEXT
    }
    SUBMENU "~Help", IDM_SUBMENU_HELP {
        MENUITEM "Help ~index",    IDM_HELPINDEX,   MIS_TEXT, MIA_DISABLED
        MENUITEM "~General help",  IDM_HELPGENERAL, MIS_TEXT, MIA_DISABLED
        MENUITEM "~Using help",    IDM_HELPUSING,   MIS_TEXT, MIA_DISABLED
        MENUITEM "~Keys help",     IDM_HELPKEYS,    MIS_TEXT, MIA_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "~About ...",     IDM_ABOUT,       MIS_TEXT
    }
}

HELPTABLE ID_HELP_TABLE {
    HELPITEM ID_RESOURCE,    ID_SUBTABLE_MENU,    HELP_PAGE_GENERAL
    HELPITEM ID_DLG_ABOUT,   ID_SUBTABLE_ABOUT,   HELP_PAGE_ABOUT
    HELPITEM ID_DLG_USERDEF, ID_SUBTABLE_USERDEF, HELP_PAGE_USERDEF
    HELPITEM ID_DLG_HOF,     ID_SUBTABLE_HOF,     HELP_PAGE_HOF
    HELPITEM ID_DLG_STAT,    ID_SUBTABLE_STAT,    HELP_PAGE_STATISTIC
}

HELPSUBTABLE ID_SUBTABLE_MENU {
    HELPSUBITEM IDM_SUBMENU_GAME,     HELP_PAGE_GENERAL
    HELPSUBITEM IDM_NEW,              HELP_PAGE_NEW
    HELPSUBITEM IDM_SUBMENU_OPTIONS,  HELP_PAGE_GENERAL
    HELPSUBITEM IDM_SUBMENU_LEVEL,    HELP_PAGE_LEVEL
    HELPSUBITEM IDM_NOVICE,           HELP_PAGE_LEVEL
    HELPSUBITEM IDM_ADVANCED,         HELP_PAGE_LEVEL
    HELPSUBITEM IDM_PROFESSIONAL,     HELP_PAGE_LEVEL
    HELPSUBITEM IDM_USERDLG,          HELP_PAGE_USERDEF
    HELPSUBITEM IDM_SUBMENU_POINTER,  HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_1,         HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_2,         HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_3,         HELP_PAGE_POINTER
    HELPSUBITEM ID_POINTER_4,         HELP_PAGE_POINTER
    HELPSUBITEM IDM_SUBMENU_SPECIAL,  HELP_PAGE_SPECIAL
    HELPSUBITEM IDM_STATISTIC,        HELP_PAGE_STATISTIC
    HELPSUBITEM IDM_HOF,              HELP_PAGE_HOF
    HELPSUBITEM IDM_SPECIAL_QUE,      HELP_PAGE_SPECIAL
    HELPSUBITEM IDM_SPECIAL_SAV,      HELP_PAGE_SPECIAL
    HELPSUBITEM IDM_SPECIAL_BIG,      HELP_PAGE_SPECIAL
    HELPSUBITEM IDM_SUBMENU_LANG,     HELP_PAGE_GENERAL
    HELPSUBITEM IDM_EXIT,             HELP_PAGE_EXIT
    HELPSUBITEM IDM_SUBMENU_HELP,     HELP_PAGE_GENERAL
    HELPSUBITEM IDM_HELPINDEX,        64045
    HELPSUBITEM IDM_HELPGENERAL,      64045
    HELPSUBITEM IDM_HELPUSING,        64045
    HELPSUBITEM IDM_HELPKEYS,         64045
    HELPSUBITEM IDM_ABOUT,            HELP_PAGE_ABOUT
}

HELPSUBTABLE ID_SUBTABLE_ABOUT   { }
HELPSUBTABLE ID_SUBTABLE_USERDEF { }
HELPSUBTABLE ID_SUBTABLE_HOF     { }
HELPSUBTABLE ID_SUBTABLE_STAT    { }

rcinclude mine2.dlg
